services:
  web:
    build: .
    ports:
      - "8006:8000"
    volumes:
      - .:/app
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    depends_on:
      - redis  # Waits for redis to start first

  redis:
    image: "redis:alpine"  # Uses a pre-built official image